body{
    margin:50px;
    padding:0;
    box-sizing: border-box;
    display:block;
    
}


.all{
    position:fixed;
    left:8px;
    top:100px;
    font-size:17px;
    
}

.cards{
    position:fixed;
    left:8px;
    top:125px;
    font-size:17px;
    
}

#pert1{
    max-width:60px;
    left:0px;
    margin:10px;
    top:0px;
    position:fixed;

}

#pert2{
    max-width:60px;
    margin-right:0px;
    position:fixed;
    right:0px;
    top:0px;
    margin:10px;
    transform: rotateZ(90deg);
}

#pert3{
    max-width:60px;
    margin:10px;
    position:fixed;
    bottom:0px;
    left:0px;
    transform: rotateZ(45deg);
}

#pert4{
    max-width: 60px;
    margin:10px;
    bottom: 0px;
    right: 0px;
    position: fixed;
    transform: rotateZ(180deg);
}


.art{
    width:100%;
    height:auto;
    margin:0 auto;
    
    
}

#art1{
    width:100%;
    padding:20px 0;
}

#art2{
    width:100%;
    padding:20px 0;
}

#art3{
    width:100%;
    padding:20px 0;
}

#art4{
    width:100%;
    padding:20px 0;
}

footer{
    position:fixed;
    right:0px;
    bottom:0px;
}